{{> header}}
<main>
    <div class="container mt-5">
        <div class="row row-mansory">
            {{#if posts}} {{#each posts}}
            <div class="col-lg-3 col-md-4 col-sm-6 col-mansory" data-post="{{_id}}">
                <div class="card post">
                    <img class="card-img-top" src="{{image_url}}" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">{{description}}</h4>
                        <a href="/public/user/:id">
                        <i class="fa fa-user" aria-hidden="true"></i> {{user_name}}</a>
                        <a class="thumbUp {{#if ../isAuthenticated}}active{{/if}}"
                        {{#if ../isAuthenticated}}
                        id="{{_id}}"
                        {{else}}
                            data-toggle="modal" data-target="#login"
                        {{/if}}
                        >
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                            <span>{{likes}}</span>
                        </a>
                    </div>
                </div>
            </div>
            {{/each}} {{/if}}
        </div>
    </div>
    </div>
</main>
{{> footer}}