{{> header}}
<main>
    <div class="container mt-5">
        <h1 class="mb-5 page-title lower-case"><i class="fa fa-user" aria-hidden="true"></i> {{posts.0.user_name}}</h1>
        <div class="row row-mansory">
            {{#if posts}} {{#each posts}}
            <div class="col-lg-3 col-md-4 col-sm-6 col-mansory" data-post="{{_id}}">
                <div class="card post">
                    <div class="card__top">
                        <img class="card-img-top" src="{{image_url}}" alt="Card image cap">
                        <a class="thumbUp {{#if ../isAuthenticated}}active{{/if}}" {{#if ../isAuthenticated}} id="{{_id}}" {{else}} data-toggle="modal"
                            data-target="#login" {{/if}}>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </a>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">{{description}}</h4>
                        <span class="likes" data-id="{{_id}}">Likes {{likes}}</span>
                    </div>
                </div>
            </div>
            {{/each}} {{/if}}
        </div>
    </div>
    </div>
</main>
{{> footer}}